# Specification

## Goal

TODO

## User

TODO

## Use cases

- TODO

## Functional requirements

- TODO

## Non-functional requirements

- TODO

## Constraints

- TODO

## Out of scope

- TODO

## Success criteria

- TODO

## Open questions

- TODO